/target


# Added by cargo
#
# already existing elements were commented out

#/target
*Cargo.lock

*.DS_Store

# Added by cargo
#
# already existing elements were commented out

test01/target/*

#
test01/.vscode/*
